/* app/styles/app.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./components/ea-header";
@import "./components/ea-footer";
@import "./components/ea-divider";
@import "./components/ea-callout";

@import "./prism-dracula";

html {
  font-size: 16px;
  line-height: 1;
}
body {
  @apply
  bg-dgray
  font-sans
  text-white;
}
header, main, footer {
  @apply
  flex
  flex-wrap
  container
  max-w-7xl
  mx-auto;
}
/* header styles in ea-header.css */

main {
  @apply
  content-start
  bg-dgray-light
  min-h-screen
  px-2
  py-4
  md:p-8;
}

/* h1 styles in ea-header.css since that's the only h1 on the site */

h2 {
  font-weight: 600;
  @apply 
  text-3xl
  md:text-4xl
  text-dyellow
  w-full 
  pb-4 
  pt-12; 
}
h3 { 
  @apply 
  mt-8
  text-2xl
  md:text-3xl
  text-dorange
  uppercase
  font-bold
  tracking-wide; 
}

p {
  @apply 
  w-full
  m-0
  p-0
  text-xl;
}
p + p,
p > ol, 
p > ul {
  @apply
  mt-4;
}

p > a {
  @apply
  underline;
}

a {
  @apply
  text-dgreen;
}

/* here we are using kbd for inline code annotations */
/* kbd {
  @apply
  text-dpink;
} */

ol {
  @apply
  list-decimal
  list-inside;
}
ol a {
  @apply
  underline;
}

code {
  font-size: 0.9em;
  @apply
  text-dpink;
}


/* some prism overrides */
pre, pre code {
  white-space: pre-wrap !important;
}
pre[class*="language-"]{
  background: black;
  background-color: black;
}

