<footer class="ea-footer">
 <p>See a problem? File an <a href="https://github.com/MelSumner/ember-a11y-for/issues"> issue on GitHub</a>.</p>
 <p>Made with ❤️ by <a href="https://github.com/melsumner">Mel Sumner</a>.</p>
</footer>