.ea-callout {
  background-color: black;
  border: 1px solid #80FFEA;
  border-left: 14px solid #80FFEA;
  border-radius: 6px;
  display: flex;
  flex-flow: row wrap;
  margin: 2.5rem auto;
  max-width: 85%;
  padding: 1em;
}